.general-body {
    background-color: #0e0e0e;
}

.general-heading {
    color: #43A86A;
    font-family: 'Roboto Mono', monospace;
    text-shadow: 0px 0px 1px #43A86A;
}

.general-font {
    color: #676767;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 1vw;
}

.mini-head {
    font-size: 130%;
}

.general-but {
    font-size: 80%;
    margin-top: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 20vw;
    background-color: #2D2D2D;
    border: 4px solid #2D2D2D;
    border-radius: 15px;
    min-width: 300px;
    font-family: 'Roboto Mono', monospace;
    color: #131313;
}

.general-but:hover {
    background-color: #43A86A;
    border-color: #43A86A;
    box-shadow: 0px 0px 10px #43A86A;
    color: black;
}

.general-but:focus {
    background-color: #408D5E;
    border-color: #408D5E;
    box-shadow: 0px 0px 10px #408D5E;
    color: black;
    outline: none;
}

.general-but[type="submit"] {
    cursor: pointer;
    text-align: center;
    width: 12vw;
    min-width: 100px;
}

.center {
    width: fit-content;
    height: fit-content;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
    overflow: auto;
}

.general-form {
    background-color: #181818;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 2px solid #43A86A;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #43A86A;
    min-width: 300px;
    min-height: 400px;
}

.row {
    white-space: nowrap;
    display: flex;
}

.column {
    flex: 33.33%;
  }

.profile-img {
    width: 18vw;
    height: fit-content;
    border-radius: 50%;
}

.text-box {
    background-color: #101010;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 2px solid #101010;
    border-radius: 20px;
}

.link {
    margin: 5%;
    width: 7vw;
    height: 7vw;;
    cursor: pointer;
}
